html{
    background-color: lightblue;
}

h1{
    font-family: 'Roboto Mono', monospace;
}
h2{
    color: navy;
    font-family: 'Roboto Mono', monospace;
}
.text{
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
#name{
    text-align: center;
}

#img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    float: left
}
#Mc{
    text-align:start;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

div #img{
    float: left;
    text-align: start;
}

div >#d2{
    clear: both;
}
